/* styles.css */

body {
    font-family: 'Roboto', sans-serif; /* Change font family */
    background-color: #ffffff;
    color: #141414;
}

/* Change navbar background color */
.navbar {
    background-color: #F9F4F5; /* Change to your desired color */
}

.navbar-brand{
    font-weight: bold;
    transition: color 0.3s;
}

/* Change navbar text color */
.navbar .navbar-nav .nav-link {
    color: #000000; /* Change to your desired color */
}

/* Change active link color */
.navbar .navbar-nav .nav-link.active {
    color: #000000; /* Change to your desired color */
}

/* Change toggler icon color */
.navbar-toggler-icon {
    color: #fff; /* Change to your desired color */
}


/* Container styles */
/* .container {
    padding-top: 20px;
    padding-bottom: 20px;
} */

/* URL wrapper styles */
.url-wrapper {
    overflow-wrap: break-word; /* Wrap long URLs */
}

/* URL styles */
.url {
    display: block; /* Ensure each URL appears on a new line */
    word-break: break-all; /* Break long URLs */
    max-width: 100%; /* Limit the maximum width */
}

/* Card styles */
.card {
    background-color: #F9F4F5;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Card title styles */
.card-title {
    color: #011638;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Form styles */
form {
    margin-bottom: 0; /* Remove default margin */
}

/* Button styles */
.btn-primary {
    background-color:#70587C;
    border-color: #70587C;
}

.btn-primary:hover {
    background-color: #502F4C;
    border-color: #502F4C;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #502F4C;
}

.container-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.home-div{
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    min-height: 100vh; /* Ensure minimum height of 100vh */
    padding-bottom: 50px; /* Add padding to prevent content from touching the bottom */
}
