{% extends "short/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Contact</title>
{% endblock title %}

{% block content %}
<div class="container mt-5"> <!-- Added mt-5 class for margin-top -->
    <h1 class="card-title text-center mb-4">Contact Us!</h1>
    <div class="card">
        <div class="card-body mt-3 mb-3">
            
            <h4 class="text-center mb-5">Feel free to get in touch with us using the form below:</h4>
            
            <!-- Contact Form -->
            <div class="row justify-content-center">
                <div class="col-md-8"> <!-- Increased column width for better alignment -->
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                            <div class="invalid-feedback">
                                Please enter your name.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                            <div class="invalid-feedback">
                                Please enter a message.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
