{% extends "short/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Welcome message with login suggestion -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <h2 class="text-center">Welcome to URL Shortener</h2>
            <p class="text-center">Want to save your links and access them in a secure way? <a href="#">Login now</a></p>
        </div>
    </div>

    <!-- URL shortener form -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">URL Shortener</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% comment %} <div class="form-group mt-3">
                            <label for="captcha">What is 2 + 2? (Please solve the math problem)</label>
                            <input type="number" class="form-control" id="captcha" name="captcha" required>
                        </div> {% endcomment %}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <!-- Shortened URL display -->
            {% if short_url %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Shortened URL</h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="shortenedUrl" value="{{ short_url }}" readonly>
                        <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var inputElement = document.getElementById("shortenedUrl");
        inputElement.select();
        document.execCommand("copy");
        {% comment %} alert("Copied the shortened URL: " + inputElement.value); {% endcomment %}
    }
</script>
{% endblock content %}
