{% extends "short/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %} <!-- Import the humanize filter -->

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<div class="container">
    <!-- Welcome message with login suggestion -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center">Welcome to URL Shortener</h2>
            <p class="text-center">Are you tired of long URLs? Shorten them with us.</p>
        </div>
    </div>

    <!-- URL shortener form -->
    <div class="row justify-content-center mt-2 mb-5">
        <div class="col-md-8"> <!-- Increase to 8 columns for medium devices -->
            <div class="card">
                <div class="card-body">
                    {% comment %} <h5 class="card-title">URL Shortener</h5> {% endcomment %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <!-- Shortened URL display -->
            {% if short_url %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Shortened URL</h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="shortenedUrl" value="{{ short_url }}" readonly>
                        <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Horizontal scrolling section for URLs -->
    <p>some recent entries:</p>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-12" style="overflow-x: auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Age</th> <!-- Changed the header -->
                            <th scope="col">Short URL</th>
                            <th scope="col">Original URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in urls %}
                        <tr>
                            <td>{{ link.created_at|timesince }}</td> <!-- Use the timesince filter -->
                            <td><a href="{{ link.short_url }}">{{ link.short_url }}</a></td>
                            <td><a href="{{ link.url }}">{{ link.url }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var inputElement = document.getElementById("shortenedUrl");
        inputElement.select();
        document.execCommand("copy");
    }
</script>
{% endblock content %}
